@using System.Security.Claims

<div class="nav navbar-left">
    @if (User.Identity.IsAuthenticated)
    {
        ClaimsIdentity identity = User.Identity as ClaimsIdentity;
        string nick = identity.Claims.Where(x => x.Type == "nick")
                                     .Select(x => x.Value)
                                     .SingleOrDefault();
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <span>Hello, @nick</span>
            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span></a>
        }
    }
    else
    {
        <div class="nav navbar-left">
            <a href="@Url.Action("Login", "Account")" class="navbar-link"><span class="glyphicon glyphicon-user"></span>Войти</a>
            <a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-plus-sign"></span>Зарегистрироваться</a>
        </div>
    }
</div>    
@*@{ 
    <script type="text/javascript">
        $(document.getElementById('logoutForm'))
    </script>
}*@
<div class="nav navbar-right">
    @Html.Action("CartSummary", "Cart")
</div>
